html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  max-width: 1920px;
  margin: auto;
  width: 100%;
  padding: 0 50px 0 50px;
}

.header {
  background: rgb(12 19 29);
  padding: 1.8vw 0 1.8vw 0;
}

.header_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 0 20px 0; */
}

.header_logo, .footer_logo {
  width: 13vw;
  height: 7vw;
}

.logo {
  /* aspect-ratio: 16/9; */
  filter: invert(1);
  /* filter: drop-shadow(0 0 20px white); */
}

.header_number {
  display: flex;
  gap: 100px;
}

.phone_text {
  font-size: 1.3vw;
  font-weight: bold;
  /* filter: drop-shadow(0 0 10px white); */
  color: white;
}

.phone {
  display: inline;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.phone, .address {
  font-size: 2vw;
  font-weight: bold;
  color: white;
}

.header_phone-img {
  /* width: 30px;
  height: 30px; */
  width: 2vw;
  height: 2vw;
  display: inline;
  vertical-align: middle;
  margin: -10px 10px 0 0;
}

.message_flex {
  display: flex;
  gap: 20px;
}

.message {
  /* width: 30px;
  height: 30px; */
  width: 2vw;
  height: 2vw;
  cursor: pointer;
}

.content {
  width: 100%;
  aspect-ratio: 16/11;
  background-image: url(img/bgstill.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* background-attachment: fixed; */
}

.nav {
  padding: 20px 0 20px 0;
  background: rgb(12 19 29);
  border-top: 1px solid rgb(230 223 205);
}
.nav_wrap {
  
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  min-width: 100%;
  /* background-color: rgb(230 223 205); */
  /* padding: 20px 50px; */

  /* background: linear-gradient(135deg, rgba(255,255,255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 32px; */
}

.nav-menu_link {
  text-decoration: none;
  color: rgb(227 221 205);
  font-size: 2.3vw;
  font-weight: bold;
  /* filter: drop-shadow(0 0 10px white); */
}

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  transition: .4s;
  height: 4px;
  z-index: 1;
  border-radius: 4px 4px 4px 4px;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.moto {
  background-image: url(img/Screenshot_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.moto_text {
  text-align: center;
  font-size: 4vw;
  color: rgb(227 221 205);
  padding-top: 30px;
}

.moto_grid {
  display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  row-gap: 20%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.glass {
  width: 85%;
  max-width: 1000px;
  aspect-ratio: 16/7;
  /* width: min(1000px, 75%); */
  /* height: 370px; */
  /* max-height: 370px; */
  /* height: min(370px, 20%); */
  background: rgb(227 221 205);
  border-radius: 35px;
  margin: 10% auto 10%;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

  /* transform: translateX(200%);
	transition: transform 1s ease; */
}

.moto_img {
  width: 50%;
  height: auto;
  position: relative;
  top: -30%;
  left: 25%;
  right: 0;
  bottom: 0;
  filter: drop-shadow(0 0 10px black);

  animation: 1500ms ease-out 0s 1 normal none running jne; 
  transition-duration: 1s;
  -webkit-box-reflect:
  below
  0px
  linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.moto_img:hover {
  top: -50%;
  transition-duration: 1s;
}

.moto_p {
  padding: 0px 50px 50px 50px;
  margin-top: -12%;
  font-size: 1.5vw;
}

.footer {
  background: rgb(12 19 29);
}
.footer_logo {
  padding: 2vw 0 0 0;
}

.hr {
  border-bottom: 1px solid rgb(227 221 205);
  padding: 2vw 0 2vw 0;
}

.footer_copyrights{
  padding: 1vw;
}
.footer_text-p {
  color: white;
  font-size: 1.3vw;
}

@media (max-width:1100px) {

}

@media (max-width:950px) {

}

@media (max-width:850px) {
  .header_phone-img {
    margin: -4px 5px 0 0;
  }
}


@media (max-width:768px) {
  .header_number {
    display: none;
  }
  .nav {
    display: none;
  }
  .hamb {
    display: flex;
    align-items: center;
  }
  .hamb__field {
    padding: 10px 20px 10px 0;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 30px;
    height: 2px;
    margin: 6px auto;
    background-color: white;
    transition: 0.2s;
  }

  .popup {
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(12 19 29);
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }
  .popup.open {
    left: 0;
  }
  .popup .nav_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }
  .popup .nav_wrap  {
    width: 100%;
  }
  .popup .nav_wrap > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 20px 20px 40px;
    font-size: 7vw;
    font-weight: bold;
    color: rgb(226 110 38);
  }
  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  body.noscroll {
    overflow: hidden;
  }
}
@media (max-width:710px) {
  .message_flex {
    gap: 10px;
  }
  .moto_p {
    padding: 0 20px 20px 20px;
  }
}

@media (max-width:640px) { 
  .nav {
    padding: 20px 20px 20px 20px;
  }
}
@media (max-width:590px) { 
  .popup {
    top: 55px;}
}
