html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  width: 1920px;
  /* max-width: 1920px; */
  margin: auto;
  width: 100%;
  padding: 0 50px 0 50px;
}

.header {
  background: black;
  padding: 1.8vw 0 1.8vw 0;
}

.header_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo, .footer_logo {
  width: 13vw;
  height: 7vw;
}

.logo {
  filter: invert(1);
}

.header_number {
  display: flex;
  gap: 70px;
}

.phone_text {
  font-size: 1.3vw;
  font-weight: bold;
  color: white;
}
.phone_flex {
  display: flex;
  flex-direction: column;
}
.phone {
  display: inline;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.phone, .address {
  font-size: 2vw;
  font-weight: bold;
  color: white;
}

.address.address-normal {
  font-size: 1.5vw;
  font-weight: normal;
}

.header_phone-img {
  width: 2.5vw;
  height: 2.5vw;
  display: inline;
  vertical-align: middle;
  margin: -8px 10px 0 0;
}
.header_address {
  margin: auto auto;
}
.message_flex {
  display: flex;
  gap: 20px;
}

.message {
  width: 2.5vw;
  height: 2.5vw;
  cursor: pointer;
}

.nav {
  padding: 20px 0 20px 0;
  background: black;
  border-top: 1px solid rgb(230 223 205);
}
.nav_wrap {
  
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  min-width: 100%;
  /* background-color: rgb(230 223 205); */
  /* padding: 20px 50px; */

  /* background: linear-gradient(135deg, rgba(255,255,255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 32px; */
  
}

.nav-menu_link {
  text-decoration: none;
  color: white;
  font-size: 2.3vw;
  font-weight: bold;
  filter: saturate(200%);
}

.nav-menu_link.none {
  display: none;
}

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  transition: .4s;
  height: 4px;
  z-index: 1;
  border-radius: 4px 4px 4px 4px;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.content {
  width: 100%;
  aspect-ratio: 16/11;
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: saturate(150%);
}

.freepik {
  max-width: 250px;
  position: relative;
  top: 70%;
  left: 3%;
  color: rgb(84, 81, 81);
  font-size: 1vw;
}
.freepik a {
  color: rgb(84, 81, 81);
}
.content_text {
  margin: 0 auto;
  width: 90vw;
  padding: 8% 0 0 45%;
  filter: saturate(200%);
}

.moto {
  background-image: url(img/bg_moto.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.moto_text, .content_moto-h1 {
  text-align: center;
  font-size: 4vw;
  color: rgb(226 110 38);
  filter: saturate(200%);
  padding-top: 30px;
  padding-bottom: 5%;
}

.moto_grid {
  display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  row-gap: 20%;
  padding: 0 20px 10% 20px;
}

.glass {
  width: 85%;
  max-width: 2000px;
  aspect-ratio: 14/5;
  background: rgb(227 221 205);
  border-radius: 35px;
  margin: 15% auto 5%;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.moto_img {
  width: 50%;
  height: auto;
  position: relative;
  top: -30%;
  left: 25%;
  right: 0;
  bottom: 0;
  filter: drop-shadow(0 0 10px black);
  animation: 1500ms ease-out 0s 1 normal none running jne; 
  transition-duration: 1s;
  -webkit-box-reflect:
  below
  0px
  linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.moto_img:hover {
  top: -40%;
  transition-duration: 1s;
}

.moto_img.shlem {
  width: 30%;
  left: 35%;
}
.moto_img.shlem1 {
  width: 40%;
  left: 35%;
}
/* .moto_img.shlem1:hover {
  im
} */

.moto_p {
  padding: 0px 50px 25px 50px;
  margin-top: -12%;
  font-size: 1.5vw;
  text-align: center;
}

.orange_color {
  font-size: 2.5vw;
  color: rgb(226 110 38);
  filter: saturate(200%);
}

.card_price {
  width: 30%;
  background: rgb(226 110 38);
  filter: saturate(200%);
  border-radius: 20px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
 margin-bottom: 5%;
}

.price_p {
  font-size: 2vw;
  font-weight: bold;
}

.price_p-only {
  font-size: 1.5vw;
}

.footer {
  background: black;
}

.footer_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 0 0 0;
}

.footer_address-text {
  font-size: 1.5vw;
}

.footer_phone-flex {
  display: flex;
  justify-content: space-between;
  width: 35vw;
  align-items: center;
}

.hr {
  border-bottom: 1px solid rgb(227 221 205);
  padding: 2vw 0 2vw 0;
}

.footer_copyrights{
  padding: 1vw;
}
.footer_text-p {
  color: white;
  font-size: 1.3vw;
}

/*Условия аренды*/
.rent_content {
  background-image: url(img/bg_rent.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 30px 0 30px 0;
}
.rent_content li, .rent_content p {
  text-align: justify;
  font-size: 1.5vw;
}
.rent_h1 {
  font-size: 2vw;
}
.last_h1 {
  margin-top: 16px;
}
/*Мотоциклы*/
.content_moto {
  background-image: url(img/bg_moto.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.content_moto-h1 {
  text-align: center;
  font-size: 4vw;
  color: rgb(226 110 38);
  padding-bottom: 3%;
  padding-top: 3%;
}
.cards_wrap {
  display: flex;
  flex-direction: column;
  gap: 5%;
  padding-bottom: 5%;
  /* justify-content: space-around */
}

.moto_img1 {
  width: 50%;
  margin: 0 auto;
  filter: drop-shadow(0 0 10px black);
  animation: 1500ms ease-out 0s 1 normal none running jne; 
  transition-duration: 1s;
  -webkit-box-reflect:
  below
  0px
  linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

/* .cards-text {
  padding: 0 20px 0 20px;
} */

.card_text-title {
  font-size: 2.5vw;
}

.card_text-p {
  
  font-size: 1.5vw;
  margin-bottom: 1%;
  text-align: justify;
}


/*О нас*/
.content_about {
  background-image: url(img/bg_moto.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* background-color: rgb(227 221 205); */
  /* padding: 0 0 30px 0; */
  
}

.scroller {
  max-width: 100%;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroll_img {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 9/6.5;
  border-radius: 15px;
  filter: saturate(150%);
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 100s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.scroll_logo {
  width: 100%;
  max-width: 100px;
  aspect-ratio: 16/9;
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.odd{
  filter: invert(1);
}

.tag-list li {
  padding: 1rem;
  background: black;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

li.even {
  background: white;
}
.about_h1 {
  font-size: 2vw;
  text-align: center;
  /* color: rgb(226 110 38); */
  padding-bottom: 1.5%;
  padding-top: 3%;

}
.about_p {
  text-indent: 2vw;
  font-size: 1.5vw;
  text-align: justify;
}
.about_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 2vw;
  padding: 5% 0 5% 0;
}
.about_img {
  width: 100%;
  filter: saturate(150%);
}
.button_more {
  background-color: transparent;
  border: none;
}
.more {
  filter: grayscale(200%);
}

@media (max-width:1100px) {
  .freepik {
    top: 68%;
  }

}

@media (max-width:850px) {
  .header_phone-img {
    margin: -4px 5px 0 0;
  }
}

@media (max-width:768px) {
  .container {
    padding: 0 20px 0 20px;
  }
  .header_number {
    display: none;
  }
  .nav {
    display: none;
  }
  .nav-menu_link.none {
    display: block;
  }
  .hamb {
    display: flex;
    align-items: center;
  }
  .hamb__field {
    padding: 10px 20px 10px 0;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 30px;
    height: 2px;
    margin: 6px auto;
    background-color: white;
    transition: 0.2s;
  }
  .popup {
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(12 19 29);
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }
  .popup.open {
    left: 0;
  }
  .popup .nav_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }
  .popup .nav_wrap  {
    width: 100%;
  }
  .popup .nav_wrap > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 20px 20px 40px;
    font-size: 7vw;
    font-weight: bold;
    color: rgb(226 110 38);
  }
  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  body.noscroll {
    overflow: hidden;
  }
  .card_price {
    width: 40%;
    border-radius: 12px;
  }
  .glass {
    width: 100%;
    aspect-ratio: 14/3;
  }
  /* .cards-text {
    padding: 0 20px 0 20px;
  } */
  .rent_content li, .rent_content p {
    font-size: 2.5vw;
  }
  .rent_h1 {
    font-size: 4vw;
  }
  .card_text-title {
    font-size: 3vw;
  }
  .card_text-p {
    font-size: 2.5vw;
  }
  .about_h1 {
    font-size: 4vw;
  }
  .about_p {
    font-size: 2.5vw;
  }
  .moto_p {
    font-size: 2.5vw;
  }
  .orange_color {
    font-size: 3vw;
  }
  .header_phone-img {
    width: 3vw;
    height: 3vw;
  }
  .message {
    width: 4vw;
    height: 4vw;
  }
  .scroll_img {
    width: 40%;
    max-width: 200px;
  }
  .footer_phone-flex {
    width: 40vw;
  }
}

@media (max-width:710px) {
  .message_flex {
    gap: 10px;
  }
  .moto_p {
    padding: 0 20px 20px 20px;
  }
  .freepik {
    /* top: 67%; */
    font-size: 1.5vw;
  }
}

@media (max-width:640px) { 
  .nav {
    padding: 20px 20px 20px 20px;
  }
  .about_grid {

    grid-template-columns: repeat(1, 1fr);

  }
}

@media (max-width:590px) { 
  .popup {
    top: 55px;}
}
